:root{
    --mainpadding:140px ;
}

html,
body{
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column;
    color: azure;
}

.header{
    background-color: rgb(7, 1, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 1000;
    font-size: 1.1rem;
}
.header ul{
    padding-right: var(--mainpadding);
    display: flex;
    list-style: none;
}

.header li > a{
    text-decoration: none;
    color: azure;
    margin-left: 15px;
    transition: 0.1s ease-out;
}
.header li:hover > a:hover{
    box-shadow: 0px 2px 0px  rgb(139, 136, 136);
}
.logo{
    padding-left: var(--mainpadding);
    font-family: lobster, sans-serif,arial;
}
.homepage{
    background: #1F2937;
    padding: 0 var(--mainpadding);
}
.products{
    background-color: blue;
    padding: 0 var(--mainpadding);
}
.randomphrase{
    background-color: orange;
    padding: 0 var(--mainpadding);
}